{% extends "layouts/main-dfe.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">Check your answers before submitting your application</h1>

      <h2 class="govuk-heading-m">Eligibility</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Question 1
            <p class="govuk-summary-list__value">
              {{ data['eligibility1'] }}
            </p>
          </dt>
          
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="eligibility1-test">Change<span class="govuk-visually-hidden"> name</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Question 2
            <p class="govuk-summary-list__value">
              {{ data['eligibility2'] }}
            </p>
          </dt>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="eligibility2">Change<span class="govuk-visually-hidden"> date of birth</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Question 3
            <p class="govuk-summary-list__value">
              {{ data['eligibility3'] }}
            </p>
          </dt>
           <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="eligibility3">Change<span class="govuk-visually-hidden"> customer reference</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Question 4
            <p class="govuk-summary-list__value">
              {{ data['eligibility4'] }}
            </p>
          </dt>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="eligibility4">Change<span class="govuk-visually-hidden"> address</span></a>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Contact details</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Question 1
            <p class="govuk-summary-list__value">
              {{ data[''] }}
            </p>
          </dt>
          
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="eligibility1-test">Change<span class="govuk-visually-hidden"> name</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Question 2
            <p class="govuk-summary-list__value">
              {{ data[''] }}
            </p>
          </dt>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="eligibility2">Change<span class="govuk-visually-hidden"> date of birth</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Question 3
            <p class="govuk-summary-list__value">
              {{ data[''] }}
            </p>
          </dt>
           <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="eligibility3">Change<span class="govuk-visually-hidden"> customer reference</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Question 4
            <p class="govuk-summary-list__value">
              {{ data[''] }}
            </p>
          </dt>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="eligibility4">Change<span class="govuk-visually-hidden"> address</span></a>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Qualification details</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Question 1
            <p class="govuk-summary-list__value">
              {{ data[''] }}
            </p>
          </dt>
          
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="eligibility1-test">Change<span class="govuk-visually-hidden"> name</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Question 2
            <p class="govuk-summary-list__value">
              {{ data[''] }}
            </p>
          </dt>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="eligibility2">Change<span class="govuk-visually-hidden"> date of birth</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Question 3
            <p class="govuk-summary-list__value">
              {{ data[''] }}
            </p>
          </dt>
           <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="eligibility3">Change<span class="govuk-visually-hidden"> customer reference</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Question 4
            <p class="govuk-summary-list__value">
              {{ data[''] }}
            </p>
          </dt>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="eligibility4">Change<span class="govuk-visually-hidden"> address</span></a>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">
        Now send your application
      </h2>

      <p>
        By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct.
      </p>

      <form action="application-confirmation" method="post" novalidate>

        {{ govukButton({
          text: "Accept and send"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
