{% extends "layouts/main-dfe.html" %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype. Content is likely to change rapidly.'
}) }}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <form action="/national" method="post">
          <fieldset class="govuk-fieldset" aria-describedby="national-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <span class="govuk-caption-xl">Eligibility</span>
              <h1 class="govuk-fieldset__heading">
                Is the qualification offered nationally in England, so is not restricted to one provider of education or training or one employer?              </h1>
            </legend>
            
            <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="national" name="national" type="radio" value="yes">
                    <label class="govuk-label govuk-radios__label" for="yes">
                      Yes
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="national" name="national" type="radio" value="no">
                    <label class="govuk-label govuk-radios__label" for="no">
                      No
                    </label>
                  </div>
                </div>
              </fieldset>


          

      
      <div class="govuk-button-group">
        <button name="button" value="primary" type="submit" class="govuk-button govuk-!-margin-top-7" data-module="govuk-button">
          Continue
        </button>
        <a href="dashboard.html"><button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Cancel
        </button></a>
      </div>
    </div>
    </form>
  </div>
</div>

{% endblock %}