{% extends "layouts/main-dfe.html" %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype. Content is likely to change rapidly.'
}) }}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="/ao/v2/dashboard" method="post">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="eligibility1-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <span class="govuk-caption-xl">Eligibility</span>
            <h1 class="govuk-fieldset__heading">
             You are not eligible [due to date of first teach]
            </h1>
          </legend>
            <p>
             Some text            
            </p>
             
            </div>
            
          </div>
        </fieldset>
      </div>
      
      <div class="govuk-button-group">
        <button name="button" value="primary" type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </div>


    </form>


  </div>
</div>

{% endblock %}