{% extends "layouts/main-dfe.html" %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype. Content is likely to change rapidly.'
}) }}



{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <span class="govuk-caption-xl">Qualification details</span>
              <h1 class="govuk-fieldset__heading">
                What is the age range for the qualification?
              </h1>
            </legend>
        <p>
          If you are seeking funding approval for 16 to 19, please select 16-18 and 18+. If the qualification is only suitable for 18-year-olds, please select 18+ only. If you are seeking funding approval for adults as well as 16 to 19, please select 19+ as well.
        </p>
            <div id="waste-hint" class="govuk-hint">
              Select all that apply.
            </div>
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                <label class="govuk-label govuk-checkboxes__label" for="waste">
                  16-18
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                  18+
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
                <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                  19+
                </label>
              </div>
            </div>
          </fieldset>
        </div>    

      
      <div class="govuk-button-group">
       <a href="question3-aaq.html"> <button name="button" value="primary" type="submit" class="govuk-button" data-module="govuk-button">
          Save and continue
        </button></a>

      </div>
      <p class="govuk-body">
        <a href="section-qual-details-aaq.html" class="govuk-link">Return to summary</a>
      </p>
    </div>

  </div>
</div>

{% endblock %}