
{% extends "layouts/main-dfe.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype. Content is likely to change rapidly.'
}) }}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "dashboard.html"
    },
    {
      text: "Application overview",
      href: "application-overview-aaq.html"
    },
    {
      text: "Qualification details"
    }
  ]
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
       <h1 class="govuk-heading-xl">
        Qualification details
       </h1>
          
       <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key summary-list__key-aodp">
            <a class="govuk-link" href="question1-aaq.html">Qualification title</a>
          </dt>
            <dd class="govuk-summary-list__value" style="text-align:right">

          </dd>
        </div>
        
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <a class="govuk-link" href="question2-aaq.html">Age range</a>
          </dt>
            <dd class="govuk-summary-list__value">

          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <a class="govuk-link" href="question3-aaq.html">Operational start date</a>
          </dt>
            <dd class="govuk-summary-list__value">

          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <a class="govuk-link" href="question4-aaq.html">Level and sector subject area (SSA)</a>
          </dt>
            <dd class="govuk-summary-list__value">

          </dd>
        </div>      
      </dl>


      

      <a href="application-overview-aaq.html"><button type="submit" class="govuk-button" data-module="govuk-button">
        Return to application overview
      </button>
    </a>
</div>

</div>
</div>
{% endblock %}

