{% extends "layouts/main-dfe-internal.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype. Content is likely to change rapidly.'
}) }}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Submission check</span>
<h1 class="govuk-heading-xl">
Select outcome for qualification structure spreadsheet
</h1>


<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h2 class="govuk-fieldset__heading">
        Is there a qualification structure spreadsheet?
        <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="england">
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
          Pass
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="scotland">
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
          Fail
        </label>
      </div>
    </div>
  </fieldset>
</div>



  <div class="govuk-button-group">
    <a href="initial-check6.html"><button type="submit" class="govuk-button" data-module="govuk-button">
      Save and continue
    </button></a>
    <a href="initial-check-updated.html"><button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Cancel
    </button></a>
  </div>

</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-m">Related links</h1> 
      <p><a href="" target="_blank">Application form</a> (opens in new tab)
      </p>
      <p><a href="" target="_blank">[Latest specification]</a> (opens in new tab)
      </p>
    </div>
</div>
</div>
{% endblock %}
