{% extends "layouts/main-dfe.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype. Content is likely to change rapidly.'
}) }}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Submission check</span>

  <h1 class="govuk-heading-xl">
   Request further information: Ofqual Scope of Recognition (SoR)
  </h1>
  
  
      <h2 class="govuk-heading-m">
        Status
      </h2>
      <p>
        <strong class="govuk-tag govuk-tag--yellow">
        Need clarification        
        </strong>
      </p>
  
    <div class="govuk-form-group">
      <h3 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--m" for="more-detail">
          Request for more information
        </label>
      </h3>
      <div id="more-detail-hint" class="govuk-hint">
          Enter text for the awarding organisation. You can review this before it is sent.
        </div>
        <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5" aria-describedby="more-detail-hint"></textarea>
      </div>

    <a href="initial-check5.html"><button type="submit" class="govuk-button" data-module="govuk-button">
      Continue
    </button>
  </a>
  </div>
</div>

{% endblock %}
