{% extends "layouts/main-dfe.html" %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype. Content is likely to change rapidly.'
}) }}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <form action="/scopetqv3" method="post">
          <fieldset class="govuk-fieldset" aria-describedby="scopetq-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <span class="govuk-caption-xl">Eligibility</span>
              <h1 class="govuk-fieldset__heading">
                Is your qualification in scope of this funding approval process? 
              </h1>
            </legend>
            <p class="govuk-body">
              These are the qualification types in scope of this funding approval process:
            </p>
            <ul class="govuk-list--bullet">
              <li>alternative academic qualifications (AAQs) at level 3</li>
              <li>technical qualifications at level 2 and level 3</li>
              <li>technical and academic progression qualifications, and T Level foundation qualifications, at level 2</li>  
          </ul>
            <div class="govuk-radios govuk-radios" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="scopetq" name="scopetq" type="radio" value="yes">
                    <label class="govuk-label govuk-radios__label" for="yes">
                      Yes
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="scopetq" name="scopetq" type="radio" value="no">
                    <label class="govuk-label govuk-radios__label" for="no">
                      No
                    </label>
                  </div>
                </div>
              </fieldset>

          

      
      <div class="govuk-button-group">
        <button name="button" value="primary" type="submit" class="govuk-button govuk-!-margin-top-7" data-module="govuk-button">
          Continue
        </button>

      </div>
    </div>

    </form>
  </div>
</div>

{% endblock %}