{% extends "layouts/main-dfe.html" %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype. Content is likely to change rapidly.'
}) }}



{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">Provider demand</span>
    <h1 class="govuk-l">
      Summary of publicly funded post-16 enrolments</h1>      
    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">Month you apply</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Year</th>
          <th scope="col" class="govuk-table__header">Estimated enrolments</th>
          <th scope="col" class="govuk-table__header">Reason</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">2026</td>
          <td class="govuk-table__cell">68</td>
          <td class="govuk-table__cell">[Reason for not meeting 100 enrolments]</td>
        </tr>
      </tbody>
    </table>

      
      <div class="govuk-button-group">
       <a href="section-prov-demand-tq-updated.html"> <button name="button" value="primary" type="submit" class="govuk-button" data-module="govuk-button">
          Return to provider demand
        </button></a>
        <a href="">  <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Add another year
        </button></a>

      </div>
    
    </div>

  </div>
</div>

{% endblock %}