{% extends "layouts/main-dfe.html" %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype. Content is likely to change rapidly.'
}) }}



{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
                 
          
                <span class="govuk-caption-xl">Evidence of demand</span>
                <h1 class="govuk-heading-xl">
                  You have told us that you are creating a new qualification                </h1>
              </legend>

              <p class="govuk-body">
                You must submit letters from institutions that show the qualification will have at least 100 publicly funded enrolments and which funding year and funding stream those enrolments relate to.
                </p>
                <p>
                The <a href="">Qualifications Funding Approval Manual</a> sets out what needs to be included in the letters and explains how you can check whether the institution is in receipt of publicly funded enrolments. 
                </p>
                <p>
                To support you, we have provided <a href="">guidance for FE providers on estimating publicly funded enrolments</a>.              </p>
              </p>
      
      <div class="govuk-button-group">
       <a href="evidence2-tq.html"> <button name="button" value="primary" type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button></a>

      </div>
     
    </div>

  </div>
</div>

{% endblock %}