{% extends "layouts/main-dfe.html" %}

{% block pageTitle %}
Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
tag: {
text: "Prototype"
},
html: 'This is a prototype. Content is likely to change rapidly.'
}) }}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{{ govukBreadcrumbs({
items: [
{
text: "Home",
href: "dashboard.html"
},
{
text: "Application overview",
href: "application-overview-tq.html"
},
{
text: "Qualification details"
}
]
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Qualification details
    </h1>
    <p>You must answer each of these questions. Once you have answered, it will show as completed.
    </p>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key summary-list__key-aodp">
          <a class="govuk-link" href="question1-tq.html">Qualification title</a>
        </dt>
        <dd class="govuk-summary-list__value" style="text-align:right">

        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <a class="govuk-link" href="question2-tq.html">Age range</a>
        </dt>
        <dd class="govuk-summary-list__value">

        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <a class="govuk-link" href="question3-tq.html">Operational start date</a>
        </dt>
        <dd class="govuk-summary-list__value">

        </dd>
      </div>
    </dl>




    <a href="application-overview-tq.html"><button type="submit" class="govuk-button" data-module="govuk-button">
        Return to application overview
      </button>
    </a>
  </div>

</div>
</div>
{% endblock %}