{% extends "layouts/main-dfe.html" %}

{% block pageTitle %}
  Task list template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype. Content is likely to change rapidly.'
}) }}

{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">{{ serviceName }}</h1>

      <h2 class="govuk-heading-m">Eligibility</h2>

      {% set completedStatus = {
        text: "Completed"
      } %}

      {% set incompleteStatus = {
        tag: {
          text: "Incomplete",
          classes: "govuk-tag--blue"
        }
      } %}

      {% set notStartedStatus = {
        tag: {
          text: "Not started",
          classes: "govuk-tag--grey"
        }
      } %}

      {% set inProgressStatus = {
        tag: {
          text: "In progress",
          classes: "govuk-tag--light-blue"
        }
      } %}

      {# To switch between the completed and incomplete statues, use some inline logic within the component below, like this: "status: (completedStatus if ... else incompleteStatus)" #}

      <ul class="govuk-task-list">
  
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
          
            <a class="govuk-link govuk-task-list__link" href="eligibility" aria-describedby="first-section-1-status">
              Name of first task
            </a>
          
          
          </div>
          <div class="govuk-task-list__status" id="first-section-1-status">
          
            <strong class="govuk-tag govuk-tag--grey">
              Not started
            </strong>
          
          </div>
        </li>
        
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
          
            <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="first-section-2-status">
              Name of second task
            </a>
          
          
          </div>
          <div class="govuk-task-list__status" id="first-section-2-status">
          
            <strong class="govuk-tag govuk-tag--grey">
              Not started
            </strong>
          
          </div>
        </li>
        
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
          
            <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="first-section-3-status">
              Name of third task
            </a>
          
          
          </div>
          <div class="govuk-task-list__status" id="first-section-3-status">
          
            <strong class="govuk-tag govuk-tag--grey">
              Not started
            </strong>
          
          </div>
        </li>
        
      </ul>

      <h2 class="govuk-heading-m govuk-!-margin-top-5">Contact information</h2>

      

      <div class="govuk-!-margin-top-5">
        {{ govukButton({ text: "Apply", href: "/layout/v1/application-form-check-answers" }) }}
      </div>

    </div>
  </div>
{% endblock %}
