{% extends "layouts/main-dfe.html" %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
tag: {
text: "Prototype"
},
html: 'This is a prototype. Content is likely to change rapidly.'
}) }}

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/eligibility-route" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="eligibility4-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              What is...? (Eligibility question 4)
            </h1>
          </legend>
          <div id="eligibility4-hint" class="govuk-hint">
            [Hint]
          </div>
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            {% for option in myArray %}
            {% if data['eligibility4'] and option in data['eligibilty4'] %}
            <div class="govuk-checkboxes__item">
              <input checked class="govuk-checkboxes__input" id="elegibility-{{ loop.index }}" name="eligibility4" type="checkbox"
                value="{{ option }}">
              <label class="govuk-label govuk-checkboxes__label" for="elegibility-{{ loop.index }}">
                {{ option }}
              </label>
            </div>
            {% else %}
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="elegibility-{{ loop.index }}" name="eligibility4" type="checkbox"
                value="{{ option }}">
              <label class="govuk-label govuk-checkboxes__label" for="elegibility-{{ loop.index }}">
                {{ option }}
              </label>
            </div>
            {% endif %}
            {% endfor %}
          </div>
        </fieldset>
      </div>
      <!--
      <h1 class="govuk-heading-l">
        Heading or question goes here [Q1]
      </h1>

      <form class="form" action="/eligibility-route" method="post">

          {% from "govuk/components/radios/macro.njk" import govukRadios %}
 
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="eligibility4a" name="eligibility4" type="radio"
                  value="Yes">
              <label class="govuk-label govuk-radios__label" for="eligibility4a">
                  Yes
              </label>
          </div>
          <div class="govuk-radios__item govuk-!-margin-bottom-5">
              <input class="govuk-radios__input" id="eligibility4b" name="eligibility4" type="radio"
                  value="No" >
              <label class="govuk-label govuk-radios__label" for="eligibility4b">
                  No
              </label>
          </div>
        </div>

      -->
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>


    </form>


  </div>
</div>

{% endblock %}