{% extends "layouts/main-dfe.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  
    <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/eligibility-route" method="post">

        <div class="govuk-form-group govuk-character-count" data-module="govuk-character-count" data-maxlength="500">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--l" for="eligibility3">
              What is ...? (Eligibility question 3)
            </label>
          </h1>
          <div id="eligibility3-hint" class="govuk-hint">
            [Hint]
          </div>
          <textarea class="govuk-textarea govuk-js-character-count" id="eligibility3" name="eligibility3" rows="10" aria-describedby="with-hint-info with-hint-hint"></textarea>
          <div id="with-hint-info" class="govuk-hint govuk-character-count__message">
            You can enter up to 500 characters
          </div>
        </div>


      <button type="submit" class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>
      </form>

    </div>
  </div>

{% endblock %}