{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Heading or question goes here [Q1]
      </h1>

      <form class="form" action="/layouts/v1/eligibility-check-answers" method="post">

        <p>
          {% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  name: "eligibility1",
  value: data['eligibility1'],
  fieldset: {
    legend: {
      text: "What...?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
    text: "[Hint text]"
  },
  items: [
    {
      value: "X",
      text: "X",
      checked: checked("eligibility1", "X"),
      hint: {
        text: "[Hint text]"
      }
    },
    {
      value: "y",
      text: "Y",
      checked: checked("eligibility1", "Y"),
      hint: {
        text: "[Hint text]"
      }
    }
  ]
}) }}
        </p>

        {{ govukButton({
          text: "Save and continue",
          href: "/layouts/v1/eligibility2"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
