{% extends "layouts/main-dfe.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype. Content is likely to change rapidly.'
}) }}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">
        Eligibility: Check your answers [before ....]
      </h1>

      <h2 class="govuk-heading-l">
        Eligibility questions
      </h2>
      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Question 1"
            },
            value: {
              text: data['eligibility1']
            },
            actions: {
              items: [
                {
                  href: "/layouts/v1/eligibility1",
                  text: "Change",
                  visuallyHiddenText: "Question 1"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Question 2"
            },
            value: {
              text: data['eligibility2']
            },
            actions: {
              items: [
                {
                  href: "/layouts/v1/eligibility2",
                  text: "Change",
                  visuallyHiddenText: "Question 2"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Question 3"
            },
            value: {
              text: data['eligibility3']
            },
            actions: {
              items: [
                {
                  href: "/layouts/v1/eligibility3",
                  text: "Change",
                  visuallyHiddenText: "Question 3"
                }
                
              ]
            }
          }
          ,
          {
            key: {
              text: "Question 4"
            },
            value: {
              text: data['eligibility4']
            },
            actions: {
              items: [
                {
                  href: "/layouts/v1/eligibility4",
                  text: "Change",
                  visuallyHiddenText: "Question 4"
                }
                
              ]
            }
          }
        ]
      }) }}

        {{ govukButton({
          text: "Back to application overview",
          href: "/layouts/v1/application-form"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
