{% extends "layouts/main-dfe.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype. Content is likely to change rapidly.'
}) }}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  <h1 class="govuk-heading-xl">
   Review against common funding approval criteria
  </h1>

  <dl class="govuk-summary-list govuk-!-margin-bottom-9">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-two-thirds">
        Common funding approval criteria
      </dt>
      <dd class="govuk-summary-list__value">
       <strong> Outcome</strong>
      </dd>

    </div>
    
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-half">
        <a class="govuk-link" href="question1-overview.html">1: The qualification must be within your scope of recognition</a>
      </dd>
      <dd class="govuk-summary-list__value">
        <strong class="govuk-tag govuk-tag--green">
          Meets criteria
        </strong>      
      </dd>   
      
    </div>
    
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        <a class="govuk-link" href="#">2: The qualification must be available for delivery nationally in England from 1 August 2025</a>
      </dd>
      <dd class="govuk-summary-list__value">
        <strong class="govuk-tag govuk-tag--green">
          Meets criteria
        </strong>      
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        <a class="govuk-link" href="#">3: The qualification must be suitable for the student age groups</a>
        <br>
        <strong class="govuk-tag govuk-tag--blue govuk-!-margin-top-2">
          Feedback for AO
        </strong>
      </dt>
      <dd class="govuk-summary-list__value">
        <strong class="govuk-tag govuk-tag--yellow">
          Clarify with AO
        </strong>      
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        <a class="govuk-link" href="#">4: The qualification must be at the correct level for the qualification offer</a>
      </dt>
      <dd class="govuk-summary-list__value">
        <strong class="govuk-tag govuk-tag--red">
          Does not meet criteria
        </strong>      
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        <a class="govuk-link" href="#">5: The qualification must be in an appropriate sector subject area (SSA)</a>
      </dt>
      <dd class="govuk-summary-list__value">
        <strong class="govuk-tag govuk-tag--yellow">
          Clarify with AO
        </strong>      
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        <a class="govuk-link" href="#">6: The qualification must not have had, or be in scope to have, funding approval removed</a>
      </dt>
      <dd class="govuk-summary-list__value">

      </dd>
    </div>
  
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        <a class="govuk-link" href="#">7: The qualification has evidence of demand </a>
      </dt>
      <dd class="govuk-summary-list__value">
        <strong class="govuk-tag govuk-tag--red">
          Take to moderation
        </strong>
      </dd>
    </div>
</dl>

    <a href="application-overview.html"><button type="submit" class="govuk-button" data-module="govuk-button">
      Return to application overview
    </button>
  </a>
  </div>
</div>

{% endblock %}
