{% extends "layouts/main-dfe.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype. Content is likely to change rapidly.'
}) }}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
  


       <h1 class="govuk-heading-xl">
        Applications
       </h1>
      
       <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Assign to reviewers
      </button>

              <table class="govuk-table">
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                      <th scope="col" class="govuk-table__header">Reference</th>
                      <th scope="col" class="govuk-table__header">Awarding organisation</th>
                      <th scope="col" class="govuk-table__header">Reviewer 1</th>
                      <th scope="col" class="govuk-table__header">Reviewer 2</th>
                      <th scope="col" class="govuk-table__header">Status</th>
                    </tr>
                  </thead>
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                    <td class="govuk-table__cell">[XXXXXX]</td>
                    <td class="govuk-table__cell">Pearson Edexcel</td>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell"></td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">[XXXXXX]</td>
                    <td class="govuk-table__cell">Pearson Edexcel</td>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell"></td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="application-overview">[XXXXXX]</a></td>
                    <td class="govuk-table__cell">City & Guilds</td>
                    <td class="govuk-table__cell">[Reviewer name]</td>
                    <td class="govuk-table__cell">[Reviewer name]</td>
                    <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">
                      Waiting on
                    </strong></td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">[XXXXXX]</td>
                    <td class="govuk-table__cell">City & Guilds</td>
                    <td class="govuk-table__cell">[Reviewer name]</td>
                    <td class="govuk-table__cell">[Reviewer name]</td>
                    <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">
                      Feedback
                    </strong></td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="application-overview">[XXXXXX]</a></td>
                    <td class="govuk-table__cell">City & Guilds</td>
                    <td class="govuk-table__cell">[Reviewer name]</td>
                    <td class="govuk-table__cell">[Reviewer name]</td>
                    <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">
                      Approved
                    </strong></td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="application-overview">[XXXXXX]</a></td>
                    <td class="govuk-table__cell">City & Guilds</td>
                    <td class="govuk-table__cell">[Reviewer name]</td>
                    <td class="govuk-table__cell">[Reviewer name]</td>
                    <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">
                      Rejected
                    </strong></td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="application-overview">[XXXXXX]</a></td>
                    <td class="govuk-table__cell">City & Guilds</td>
                    <td class="govuk-table__cell">[Reviewer name]</td>
                    <td class="govuk-table__cell">[Reviewer name]</td>
                    <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">
                      Withdrawn
                    </strong></td>
                  </tr>
                </tbody>
              </table>
           

          <div class="govuk-form-group">

            <select class="govuk-select applications-per-page" id="sort" name="sort">
              <option value="published" selected>10</option>
              <option value="updated">25?</option>
              <option value="views">50?</option>
            </select>              

            <label class="govuk-label govuk-!-display-inline" for="sort">
              Applications per page </label>
          </div>
        </div>

{% endblock %}
