{% extends "layouts/main-dfe.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype. Content is likely to change rapidly.'
}) }}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  <h1 class="govuk-heading-xl">
   Request further information from awarding organisation
  </h1>
  <p>
    Request further information on documents reviewed as part of the initial check. Or send general feedback.
  </p>

  <dl class="govuk-summary-list govuk-!-margin-bottom-9">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-two-thirds">
        Item where further information is needed
      </dt>
      <dd class="govuk-summary-list__value">
       <strong> Status</strong>
      </dd>

    </div>
    
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-half">
        <a class="govuk-link" href="">Provider demand letters</a>
      </dd>
      <dd class="govuk-summary-list__value">   
      </dd>   
      
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        <a class="govuk-link" href="#">Other</a>
      </dt>
      <dd class="govuk-summary-list__value">

      </dd>
    </div>
</dl>

    <a href="initial-check4.html"><button type="submit" class="govuk-button" data-module="govuk-button">
      Return to application overview
    </button>
  </a>
  </div>
</div>

{% endblock %}
