{% extends "layouts/main-dfe.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype. Content is likely to change rapidly.'
}) }}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Common funding approval criteria</span>
<h1 class="govuk-heading-xl">
  Add outcome for criteria 1: The qualification must be within your scope of recognition
</h1>

  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
  <h2 class="govuk-heading-l">
    Add outcome
  </h2>

  <details class="govuk-details govuk-!-padding-bottom-3">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        View assessment criteria
      </span>
    </summary>
    <div class="govuk-details__text">
      For L3 AAQs and TQs, they must be recognised by Ofqual to offer qualifications at level 3 in the associated sector subject area (SSA). 
      <br>
      For L2 TQs, they must be recognised by Ofqual to offer qualifications at level 2 in the associated SSA.
      <br>
      Ofqual will have done this in their manual checks.
    </details>

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h2 class="govuk-fieldset__heading">
          Outcome of application of criteria
        </h2>
      </legend>
      <div class="govuk-radios" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="england">
          <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
            Pass
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="scotland">
          <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
            Fail
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="whereDoYouLive-3" name="whereDoYouLive" type="radio" value="wales">
          <label class="govuk-label govuk-radios__label" for="whereDoYouLive-3">
            Request information
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="whereDoYouLive-4" name="whereDoYouLive" type="radio" value="northern-ireland">
          <label class="govuk-label govuk-radios__label" for="whereDoYouLive-4">
            For moderation
         </label>
        </div>
      </div>
    </fieldset>
  </div>


  <a href="question1-add-rationale"><button type="submit" class="govuk-button" data-module="govuk-button">
    Save and continue
  </button></a>

</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-m">Related links</h1> 
      <p><a href="application-form.html" target="_blank">Application form</a> (opens in new tab)
      </p>

    </div>
</div>
</div>
{% endblock %}
