{% extends "layouts/main-dfe.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype. Content is likely to change rapidly.'
}) }}


{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <h1 class="govuk-heading-xl">
    Application form
  </h1>

  <h2>Qualification details</h2>
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-half">
        1. Are your qualifications in scope of this funding approval process?  
      </dt>
      <dd class="govuk-summary-list__value">
        [Answer goes here]
      </dd>
        <dd class="govuk-summary-list__actions">
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        2. What is the qualification title? 
      </dt>
      <dd class="govuk-summary-list__value">
        <br>[Yes]
        </dd>
      <dd class="govuk-summary-list__actions">
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        3. Please specify the Sector Subject Area which the qualification is being submitted against. 
      </dt>
      <dd class="govuk-summary-list__value">

        <br>[Answer goes here]
      </dd>
      <dd class="govuk-summary-list__actions">
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        4. Does this qualification replace an existing qualification or multiple qualifications?      
      </dt>
      <dd class="govuk-summary-list__value">
        [Answer goes here]
      </dd>
      <dd class="govuk-summary-list__actions">
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        5. Is the existing qualification or qualifications being replaced by more than one new qualification? 
      </dt>
      <dd class="govuk-summary-list__value">
        [Answer goes here]
      </dd>
      <dd class="govuk-summary-list__actions">
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        6. What is the Qualification Number (QN) of the existing qualification or qualifications? 
      </dt>
      <dd class="govuk-summary-list__value">
        [Answer goes here]
      </dd>
      <dd class="govuk-summary-list__actions">
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        7. Has the existing qualification had funding removed from ESFA post-16 funded offers in England?   
      </dt>
      <dd class="govuk-summary-list__value">
        [Answer goes here]
      </dd>
      <dd class="govuk-summary-list__actions">
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        8. Which occupational route do you intend to submit this technical qualification against?    
     </dt>
      <dd class="govuk-summary-list__value">
        [Answer will be one of these: 16-18 / 18+ / 19+]
      </dd>
      <dd class="govuk-summary-list__actions">
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        9. In which category are you submitting?       
      </dt>
      <dd class="govuk-summary-list__value">
        [Answer goes here]
      </dd>
      <dd class="govuk-summary-list__actions">
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        10. Which occupational standards does the qualification map to or build upon (for additional specialist qualifications)? 
      </dt>
      <dd class="govuk-summary-list__value">
        [XX Month XXXX]
      </dd>
      <dd class="govuk-summary-list__actions">
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-half">
        11. Which occupational standards does the qualification map to or build upon (for additional specialist qualifications)?  
      </dt>
      <dd class="govuk-summary-list__value">
        [Answer goes here]
      </dd>
        <dd class="govuk-summary-list__actions">
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-half">
        12. Which occupational standards does the qualification map to or build upon (for additional specialist qualifications)?  
        
      </dt>
      <dd class="govuk-summary-list__value">
        [Answer goes here]
      </dd>
        <dd class="govuk-summary-list__actions">
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-half">
        13. Which occupational standards does the qualification map to or build upon (for additional specialist qualifications)? 
      </dt>
      <dd class="govuk-summary-list__value">
        [Answer goes here]
      </dd>
        <dd class="govuk-summary-list__actions">
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-half">
        14. Does the qualification feature pathways or optional modules? 
        </dt>
      <dd class="govuk-summary-list__value">
        [Answer goes here]
      </dd>
        <dd class="govuk-summary-list__actions">
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-half">
        15. Please specify which pathways or modules are optional 
       </dt>
      <dd class="govuk-summary-list__value">
        [Answer goes here]
      </dd>
        <dd class="govuk-summary-list__actions">
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-half">
        16. Is your qualification regulated by a Public Sector Regulatory Body (PSRB)? 
      </dt>
      <dd class="govuk-summary-list__value">
        [Answer goes here]
      </dd>
        <dd class="govuk-summary-list__actions">
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-half">
        17. Has the qualification been approved by the regulatory body? 
      </dt>
      <dd class="govuk-summary-list__value">
        [Answer goes here]
      </dd>
        <dd class="govuk-summary-list__actions">
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-half">
        18. Does a version of this qualification currently exist as mandated qualification within an apprenticeship? 
      </dt>
      <dd class="govuk-summary-list__value">
        [Answer goes here]
      </dd>
        <dd class="govuk-summary-list__actions">
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-half">
        19. Please specify which occupational standard(s) the apprenticeship maps to 
      </dt>
      <dd class="govuk-summary-list__value">
        [Answer goes here]
      </dd>
        <dd class="govuk-summary-list__actions">
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-half">
        20. Are you intending to replace the mandated qualification within this qualification? 
       </dt>
      <dd class="govuk-summary-list__value">
        [Answer goes here]
      </dd>
        <dd class="govuk-summary-list__actions">
       
    </dd>
    </div>
  
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-half">
        21. Are you also seeking to mandate this qualification within a current apprenticeship? 
     
            <dd class="govuk-summary-list__value">
        [Answer goes here]
      </dd>
        <dd class="govuk-summary-list__actions">
      </dd>
    </div>
  
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-half">
        22. Please specify which occupational standard(s) the apprenticeship maps to 
      </dt>
              <dd class="govuk-summary-list__value">
              [Answer goes here]
              <br>
              <a class="govuk-link" href="#">Read more<span class="govuk-visually-hidden"> for question 1</span></a>
  
              </dd>
        <dd class="govuk-summary-list__actions">
      </dd>
    </div>
  
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-half">
        23. Does this qualification include a work placement? 
      </dt>
            <dd class="govuk-summary-list__value">
            [Answer goes here]
            </dd>
        <dd class="govuk-summary-list__actions">
      </dd>
    </div>
  
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-half">
        24. How many hours is the work placement? 
      </dt>
      <dd class="govuk-summary-list__value">
        [Answer goes here]
        </dd>
        <dd class="govuk-summary-list__actions">
      </dd>
    </div>
  
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-half">
        25. Will the qualification be offered in England? 
      </dt>
      <dd class="govuk-summary-list__value">
        [Answer goes here]
        </dd>
        <dd class="govuk-summary-list__actions">
      </dd>
    </div>
  
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-half">
        26. Is the qualification offered nationally, so is not restricted to one provider of education or training or one employer? 
        </dt>
            <dd class="govuk-summary-list__value">
            [Answer goes here]
            </dd>
        <dd class="govuk-summary-list__actions">
      </dd>
    </div>
  
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-half">
        27. What is the total qualification time (TQT) in hours?
        </dt>
        <dd class="govuk-summary-list__value">
        [Answer goes here]
        </dd>
        <dd class="govuk-summary-list__actions">
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-half">
        28. What are the guided learning hours (GLH) in hours?
        </dt>
        <dd class="govuk-summary-list__value">
        [Answer goes here]
        </dd>
        <dd class="govuk-summary-list__actions">
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-half">
        29. What is the operational start date of the technical qualification? 
        </dt>
        <dd class="govuk-summary-list__value">
        [Answer goes here]
        </dd>
        <dd class="govuk-summary-list__actions">
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-half">
       30. What age category is the qualification appropriate for? 
        </dt>
        <dd class="govuk-summary-list__value">
        [Answer goes here]
        </dd>
        <dd class="govuk-summary-list__actions">
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-half">
        31. Are the qualifications level and SSA within your awarding body’s scope of recognition?
        </dt>
        <dd class="govuk-summary-list__value">
        [Answer goes here]
        </dd>
        <dd class="govuk-summary-list__actions">
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-half">
        32. Are there any pre-requisites for this qualification (for example, students must be employed or hold a specific qualification prior to entry)? 
        </dt>
        <dd class="govuk-summary-list__value">
        [Answer goes here]
        </dd>
        <dd class="govuk-summary-list__actions">
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-half">
        33. If there are pre-requisites, please provide further details. 
        </dt>
        <dd class="govuk-summary-list__value">
        [Answer goes here]
        </dd>
        <dd class="govuk-summary-list__actions">
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-half">
        34. Over how many academic years is this qualification typically delivered?
        </dt>
        <dd class="govuk-summary-list__value">
        [Answer goes here]
        </dd>
        <dd class="govuk-summary-list__actions">
      </dd>
    </div>
  </dl>   

  <h2>Provider demand</h2>
  <dl class="govuk-summary-list">
    
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-half">
        35. How many post-16 publicly funded enrolments do you estimate for your qualification for the 2025-2026 funding year? 
        </dt>
      <dd class="govuk-summary-list__value">
        [Answer goes here]
      </dd>
        <dd class="govuk-summary-list__actions">
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-half">
        36. How many post-16 publicly funded enrolments do you estimate for your qualification for the 2025-2026 funding year? 
        </dt>
      <dd class="govuk-summary-list__value">
        [Answer goes here]
      </dd>
        <dd class="govuk-summary-list__actions">
      </dd>
    </div>



  </dl>   

  <h2>Employer engagement</h2>
  <dl class="govuk-summary-list">
    
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-half">
       37. Evidence documents 
        </dt>
      <dd class="govuk-summary-list__value">
        [Answer goes here]
      </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">[Attachment 1.pdf]<span class="govuk-visually-hidden"> for question 1</span></a>
          <br>
          <a class="govuk-link" href="#">[Attachment 2.pdf]<span class="govuk-visually-hidden"> for question 1</span></a>
      </dd>
    </div>
  </dl>   
   
  <h2>Additional occupationally relevant content</h2>
  <dl class="govuk-summary-list">
    
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-half">
       38. Does your qualification contain any content that does not map to KSBs?          </dt>
      <dd class="govuk-summary-list__value">
        [Answer goes here]
      </dd>
        <dd class="govuk-summary-list__actions">
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-half">
       39. Please summarise what your qualification delivers over and above the KSBs in the standard. Any additional content must add value for employers.          </dt>
      <dd class="govuk-summary-list__value">
        [Answer goes here]
      </dd>
        <dd class="govuk-summary-list__actions">
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-half">
       40. Considering all the possible module or pathway options available within your qualification, what is the lowest and highest number of hours of GLH that a learner would spend on content aligned to KSBs within the mapped standard?  </dt>
      <dd class="govuk-summary-list__value">
        [Answer goes here]
      </dd>
        <dd class="govuk-summary-list__actions">
      </dd>
    </div>
  </dl>

  <h2>KSBs coverage within the qualification  </h2>
  <dl class="govuk-summary-list">
    
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-half">
       41. Evidence documents          </dt>
      <dd class="govuk-summary-list__value">
        [Answer goes here]
      </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">[Attachment 1.pdf]<span class="govuk-visually-hidden"> for question 1</span></a>
          <br>
          <a class="govuk-link" href="#">[Attachment 2.pdf]<span class="govuk-visually-hidden"> for question 1</span></a>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-half">
       42. Do all combinations of modules/units/pathways ensure that a learner achieves full competence in the published occupational standard?          </dt>
      <dd class="govuk-summary-list__value">
        [Answer goes here]
      </dd>
        <dd class="govuk-summary-list__actions">
      </dd>
    </div>
  </dl>
  
  <h2>Assessment evidence   </h2>
  <dl class="govuk-summary-list">
    
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-half">
       43. Evidence documents          </dt>
      <dd class="govuk-summary-list__value">
        [Answer goes here]
      </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">[Attachment 1.pdf]<span class="govuk-visually-hidden"> for question 1</span></a>
          <br>
          <a class="govuk-link" href="#">[Attachment 2.pdf]<span class="govuk-visually-hidden"> for question 1</span></a>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-half">
       44. Please confirm that you have included assessment materials for each of the assessment methods used within your qualification         </dt>
      <dd class="govuk-summary-list__value">
        [Answer goes here]
      </dd>
        <dd class="govuk-summary-list__actions">
      </dd>
    </div>
  </dl>
  

  <h2>IfATE frameworks   </h2>
  <dl class="govuk-summary-list">
    
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-half">
       45. How does this qualification consider and factor in digital characteristics, such as problem solving, digital collaboration and communication, organisational security, and handling data securely? Support your answer with data/examples, where appropriate.          </dt>
      <dd class="govuk-summary-list__value">
        [Answer goes here - 300 words max]
      </dd>
        <dd class="govuk-summary-list__actions">
         </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-half">
       46. How does this qualification consider and factor in sustainability themes and practices (e.g. energy sources and usage, and management of resources, data and innovation)? Support your answer with data/examples or signpost references within your submission documents   </dt>
      <dd class="govuk-summary-list__value">
        [Answer goes here - 300 words max]
      </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">[Attachment 1.pdf]<span class="govuk-visually-hidden"> for question 1</span></a>
          <br>
          <a class="govuk-link" href="#">[Attachment 2.pdf]<span class="govuk-visually-hidden"> for question 1</span></a>
     
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-half">
       47. Please signpost to relevant section(s) of your assessment strategy/other documents to explain how EDI has been considered and embedded within the design, development and delivery of your qualification? </dt>
      <dd class="govuk-summary-list__value">
        [Answer goes here - 300 words max]
      </dd>
        <dd class="govuk-summary-list__actions">
      </dd>
    </div>
  </dl>

  <h2>Contextual information   </h2>
  <dl class="govuk-summary-list">
    
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-half">
       48. Please outline your strategy or plans to increase uptake of level 2 qualifications amongst learners and increase awareness of the level 2 qualification's brand.      </dt>
      <dd class="govuk-summary-list__value">
        [Answer goes here]
      </dd>
        <dd class="govuk-summary-list__actions">
         </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-half">
       49. If possible, please upload a list of your current delivery partners for this qualification, so we can monitor the coverage of level 2 qualifications and support providers appropriately. </dt>
      <dd class="govuk-summary-list__value">
        [Answer goes here]
      </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">[Attachment 1.pdf]<span class="govuk-visually-hidden"> for question 1</span></a>
          <br>
          <a class="govuk-link" href="#">[Attachment 2.pdf]<span class="govuk-visually-hidden"> for question 1</span></a>
     
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-half">
       50. Is there any other contextual or background information you wish to share about your application or qualification?  </dt>
      <dd class="govuk-summary-list__value">
        [Answer goes here]
      </dd>
        <dd class="govuk-summary-list__actions">
      </dd>
    </div>
  </dl>
</div>
{% endblock %}
