{% extends "layouts/main-dfe-internal.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype. Content is likely to change rapidly.'
}) }}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">DfE decision</span>
    <h1 class="govuk-heading-xl">Select final outcome</h1>

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h2 class="govuk-fieldset__heading">
          What is the overall outcome for funding this qualification?
        </h2>

        
      </legend>
      <p class="govuk-body">
        All relevant criteria have now been applied. 
      </p>
        <div class="govuk-radios" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="england">
          <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
            Approved
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="scotland">
          <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
            Rejected
          </label>
        </div>
      </div>
    </fieldset>
  </div>

  <div class="govuk-button-group">
    <a href="decision2.html"><button type="submit" class="govuk-button" data-module="govuk-button">
      Save and continue
    </button></a>
    <a href="application-questions.html"><button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Save and review
    </button></a>
  </div>

</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
  
    </div>
</div>
</div>
{% endblock %}
