{% extends "layouts/main-dfe-internal.html" %}

{% block pageTitle %}
Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
tag: {
text: "Prototype"
},
html: 'This is a prototype. Content is likely to change rapidly.'
}) }}

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Review and send message
    </h1>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Message subject:
        </dt>
        <dd class="govuk-summary-list__value">
          Query about the qualification title
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Sent:
        </dt>
        <dd class="govuk-summary-list__value">
          9:17am 30 June 2024
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          From:
        </dt>
        <dd class="govuk-summary-list__value">
          Amanda Thomson, International Baccalaureate Organisation

        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Submission ID
        </dt>
        <dd class="govuk-summary-list__value">
          [XXXXXX]
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Qualification title
        </dt>
        <dd class="govuk-summary-list__value">
          Design, Surveying and Planning for Construction
        </dd>
      </div>
    </dl>
    <!-- <h2 class="govuk-label-wrapper">
      <label class="govuk-label govuk-label--m" for="more-detail">
        Message from sender
      </label>-->
    </h2>
    <p class="govuk-body">We have checked and can confirm that the title should be [updated title]. Many thanks.</p>

    <h2 class="govuk-label-wrapper">
      <label class="govuk-label govuk-label--m" for="more-detail">
        Your reply
      </label>
    </h2>
    <p class="govuk-body">
      Dear Amanda </br>
      Thanks for confirming the qualification title. </br>Can you let us know as soon as possible if there are any
      further changes?


    <div class="govuk-button-group">
      <a href="contact-confirmation.html"><button type="submit" class="govuk-button" data-module="govuk-button">
          Send message
        </button></a>

      <a href=""><button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Save and exit
        </button></a>
    </div>
  </div>
  {% endblock %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Review and send message
      </h1>

      <p class="govuk-body">
        Dear Sarah,
        <br>Please find attached a sixth provider demand letter from Exeter University.
        <br>With many thanks
      </p>