{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% from 'node_modules/dfe-frontend/packages/components/header/macro.njk' import header %}
{% block header %}

{{ header({
    "showNav": "true",
    "showSearch": "false",
    "showHeaderActionLinks": "true",
    "logoPath": "public/images",
    "searchAction": "/search/",
    "searchInputName": "q",
    "logoAltText": "Department for Education",
    "homeHref": "https://gov.uk",
    "selectedNav": view,
    "service": {
      "name": "[Service name]",
      "serviceUrl": "/"
    },
    "headerActionLinks": [
      {
        "url"  : "/",
        "label" : "My account"
      },
      {
        "url"  : "/",
        "label" : "Sign out"
      }
    ],
    "primaryLinks": [
        {
        "url"  : "#",
        "label" : "Home"
      }, {
        "url"  : "#",
        "label" : "About"
      }, {
        "url"  : "#",
        "label" : "News"
      }
    ]
  })
}}
{% endblock %}

{% block content %}
<div class="dfe-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "govuk-prototype-kit/includes/homepage-top.njk" %}

      <h1 class="govuk-heading-xl">
      {{ serviceName }}
      </h1>

      {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %}
    </div>
  </div>
</div>
{% endblock %}
