{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
      Awarding organisation digital platform prototype
      </h1>
      <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">
      <h2 class="govuk-heading-m">May 2024</h2>
      <p class="govuk-body-m">[Completing the application form to request funding for a qualification from the DfE (awarding organisation)]</p>
      <a href="/v1/application-form" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
        Start prototype journey
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>
    </div>

    <div class="govuk-grid-column-one-third">
      <div class="x-govuk-related-navigation">
        <nav class="x-govuk-related-navigation__nav-section" role="navigation" aria-labelledby="related-navigation-related-content">
          <h3 class="x-govuk-related-navigation__main-heading" id="related-navigation-related-content">
            Related links
          </h3>
          <ul class="x-govuk-related-navigation__link-list">
            <li class="x-govuk-related-navigation__link">
              <a class="govuk-link x-govuk-related-navigation__section-link x-govuk-related-navigation__section-link--other" href="">Link</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
</div>


{% endblock %}
