{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
      Awarding organisation digital platform prototype
      </h1>



      <strong class="govuk-tag govuk-tag--orange">
        Draft
      </strong>
      <span class="govuk-caption-l">July 2024 (Sprint 5)</span>   

      <h2 class="govuk-heading-l">Reviewer journey  (version 2)</h2>
      
      

      <p class="govuk-body-m">A user at the DfE or IfATE reviews applications that have been submitted by awarding organisations for funding qualifications.</p>
      
      <a href="/dfe/v3/start" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
        Review an application (DfE)
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>
    
      <!--<br>
      <a href="/ifate/v3/start" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
        Review an application (IfATE)
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>
    -->
      <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">


      <span class="govuk-caption-l">June 2024 (Sprint 4)</span>
      <h2 class="govuk-heading-l">Awarding organisation journey (version 2)</h2>
      <p class="govuk-body-m">A user at an awarding organisation fills in an application form. The form is to request funding from the Department for Education (DfE) for a qualification the awarding organisation wants to publish. The user logs in via DfE Sign-In.</p>
      <a href="/ao/v2/start" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
        Start prototype journey
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>
      
      <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">


      <span class="govuk-caption-l">June 2024 (Sprint 3)</span>

      <h2 class="govuk-heading-l">Reviewer journey  (version 1)</h2>
      
      

      <p class="govuk-body-m">A user at the DfE or IfATE reviews applications that have been submitted by awarding organisations for funding qualifications. We tested two ideas with users for finding an application: A includes a dashboard and B goes straight to a list of applications.</p>
      <a href="/dfe/v1/start" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
        Find an application (A)
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>
      <br>
      <a href="/dfe/v2/start" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
        Find an application (B)
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>
      <br>
      <a href="/dfe/v2/application-overview" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
        Review an application (DfE)
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>
      <br>
      <a href="/ifate/v2/application-overview" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
        Review an application (IfATE)
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>

      <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

      <span class="govuk-caption-l">June 2024 (Sprint 2)</span>
      <h2 class="govuk-heading-l">Awarding organisation journey (version 1 - draft idea)</h2>
      <p class="govuk-body-m">A user at an awarding organisation fills in an application form. The form is to request funding from the Department for Education (DfE) for a qualification the awarding organisation wants to publish. The user logs in via DfE Sign-In.</p>
      <a href="/ao/v1/start" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
        Start prototype journey
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>
    </div>

    </div>
</div>


{% endblock %}
