{% extends "layouts/main-dfe-internal.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype. Content is likely to change rapidly.'
}) }}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Submission check</span>
<h1 class="govuk-heading-xl">
  HEP letter signatory check
</h1>




<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Has the HEP letter been signed by the correct person?
    </dt>
    <dd class="govuk-summary-list__value">
      <strong class="govuk-tag govuk-tag--red">
        Fail
      </strong>
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="initial-check2.html">Change<span class="govuk-visually-hidden"> name</span></a>
    </dd>
  </div>
</dl>

<div class="govuk-form-group">
  <h2 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--m" for="account-number">
      Add comment
    </label>
  </h2>
  <input class="govuk-input" id="event-name" name="eventName" type="text">
</div>



<div class="govuk-button-group">
  <a href="initial-check4.html"><button type="submit" class="govuk-button" data-module="govuk-button">
    Save
  </button></a>
  <a href="initial-check2.html"><button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
    Cancel
  </button></a>
</div>

</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-m">Related links</h1> 
      <p><a href="application-form.html" target="_blank">Application form</a> (opens in new tab)
      </p>
      <p><a href="" target="_blank">[Latest specification]</a> (opens in new tab)
      </p>
    </div>
</div>
</div>
{% endblock %}
