{% extends "layouts/main-dfe-internal.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype. Content is likely to change rapidly.'
}) }}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "#"
    },
    {
      text: "Application overview",
      href: "application-overview"
    },
    {
      text: "Initial check"
    }
  ]
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Initial check</span>
<h1 class="govuk-heading-xl">
  Overview
</h1>


<h2 class="govuk-heading-m">
  Checks
</h2>
<ul class="govuk-task-list">
  <li class="govuk-task-list__item govuk-task-list__item--with-link">
    <div class="govuk-task-list__name-and-hint">
      <a class="govuk-link govuk-task-list__link" href="initial-check1.html" aria-describedby="company-details-1-status">
        HEP letter signatory
      </a>
    </div>
    <div class="govuk-task-list__status" id="company-details-1-status">

      <strong class="govuk-tag govuk-tag--green">
        Received
      </strong>

    </div>
    
  </li>
  <li class="govuk-task-list__item govuk-task-list__item--with-link">
    <div class="govuk-task-list__name-and-hint">
      <a class="govuk-link govuk-task-list__link" href="initial-check2.html" aria-describedby="company-details-1-status">
        Provider demand letters
      </a>
    </div>
    <div class="govuk-task-list__status" id="company-details-1-status">
<strong class="govuk-tag govuk-tag--yellow">
        Requested feedback
      </strong>

    </div>
  </li>
  
  <li class="govuk-task-list__item govuk-task-list__item--with-link">
    <div class="govuk-task-list__name-and-hint">
 
        [Check] 
    </div>
    <div class="govuk-task-list__status" id="company-details-2-status">
    </div>
  </li>
  <li class="govuk-task-list__item govuk-task-list__item--with-link">
    <div class="govuk-task-list__name-and-hint">
 
        [Check] 
    </div>
    <div class="govuk-task-list__status" id="company-details-2-status">
    </div>
  </li>
</ul>


<h2 class="govuk-heading-m">
  Request further information
</h2>
<ul class="govuk-task-list">
  <li class="govuk-task-list__item govuk-task-list__item--with-link">
    <div class="govuk-task-list__name-and-hint">
      <a class="govuk-link govuk-task-list__link" href="initial-check4.html" aria-describedby="company-details-1-status">
        Provider demand letters
      </a>
    </div>
    <div class="govuk-task-list__status" id="company-details-1-status">
      <strong class="govuk-tag govuk-tag--yellow">
        Requested feedback
      </strong>
    </div>
    
  </li>
</ul>
<a href="application-overview-updated.html"><button type="submit" class="govuk-button govuk-!-margin-top-5" data-module="govuk-button">
  Return to application overview
</button>
</a>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-m">Related links</h1> 
      <p><a href="application-form.html" target="_blank">Application form</a> (opens in new tab)
      </p>

    </div>
</div>
</div>
{% endblock %}
